@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----------------------sidebar---------------------------- */
.sidebar {
    position: fixed;
    height: 100%;
    width: 18%;
    background: #0A2558;
    transition: all 0.5s ease;
}

.sidebar .logo {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    margin-top: 15px;
    margin-bottom: 21px;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    color: white;
    padding: 15px 5px;
}

/* .sidebar .nav-links li {
    padding: 15px 25px;
} */

.sidebar .nav-links li i {
    margin-left: 1rem;
    margin-right: 1rem;
}

.sidebar .nav-links li:hover {
    background-color: #091f46;
}

.nav-links .logout {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* ----------dropdown css----------------- */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 4px 5px;
    display: none;
    position: absolute;
    background-color: #f7f7f7;
    min-width: 224px;
    min-height: auto;
    overflow: auto;
    right: 80px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    top: 36px;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    right: 0;
}

.show {
    display: block;
}

.user-profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.user-profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.user-detail {
    margin-top: 10px;
}

.user-detail .user-name {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.user-detail .email {
    color: grey;
    font-size: 12px;
}

.dropdown-content .edit-profile {
    color: #0A2558;
    padding: 0;
    width: 100%;
    text-align: center;
    border: none;
}

.dropdown-content .edit-profile:hover {
    text-decoration: underline;
}

/* ----------------------------main container------------------------ */
.main-container {
    margin-left: 18%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid rgb(218, 209, 209);
}

.navbar p {
    font-size: 1.4rem;
    color: rgb(56, 55, 55);
    font-weight: 500;
}

.navbar a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin-right: 100px;
    padding: 5px 10px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(224, 220, 220);
}

.nav-links li a.active {
    background-color: #071e47;
}

/* --------------addfood container css------------------ */
.main-container .add_food,
.faq-container {
    width: 100%;
    padding: 25px 15px;
}

.add_food .foodbtn,
.faq-container .foodbtn {
    text-decoration: none;
    color: white;
    background-color: #0A2558;
    border: 1px solid #0A2558;
}

.foodbtn:hover {
    background-color: #091c41;
}

.add_food h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #0A2558;
}

.add_food .items {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 80%;
    margin: auto;
    border: 1px solid rgb(224, 221, 221);
    padding: 5px;
}

.add_food .food-title {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    text-align: center;
}

.items img {
    width: 95px;
    height: auto;
    margin-right: 15px;
}

.items .food-info {
    width: 60%;
    margin-right: 20px;
}

.food-info .food-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.food-info .food-description {
    color: rgb(63, 59, 59);
}

.food-info .food-price {
    float: right;
    font-style: italic;
    font-weight: bold;
}

.items .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actions a {
    font-size: 1rem;
    color: blue;
    text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}

/* -------------------order_list css--------------------- */

.order_list {
    width: 100%;
    padding: 25px 15px;
}

.order_list h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #0A2558;
    text-decoration: underline;
}

.order_list table {
    width: 100%;
    font-size: 1rem;
    text-align: justify;
    margin-top: 2rem;
}

.order_list table td {
    padding: 10px 0px;
    text-align: left;
    padding-left: 5px;
}

.order_list table th {
    padding: 10px 0px;
}

.order_list table tr:nth-child(even) {
    background-color: #f1e7e7;
}

.order_list table td .direction {
    color: rgb(58, 56, 56);
}

.order_list table td .approve {
    color: rgb(4, 117, 4);
    padding: 3px 10px;
    background-color: rgb(229, 253, 229);
    border: 1px solid rgb(4, 117, 4);
    border-radius: 3px;
    text-decoration: none;
    transition: 200ms;
}

.order_list table td .approve:hover {
    background-color: rgb(4, 117, 4);
    color: white;
}

/* --------------------------------faq-container css ------------------ */
.faq-content {
    width: 60%;
}

.collapse {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 1rem;
    /* font-weight: bold; */
    font-size: 1.2rem;
    color: #0A2558;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.collapse a {
    font-size: 1.4rem;
    color: rgb(209, 51, 51);
    text-decoration: none;
}
.collapse-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 100%;
}
