.btn {
    padding: .3rem 1.1rem;
    margin: 0rem .2rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
}

.addbtn {
    width: 70%;
    margin: 10px 10px 10px 25px;
    background-color: rgb(232, 241, 241);
    color: black;
    border: 1px solid rgb(212, 208, 208);
    font-weight: 500;
    transition: 200ms;

}


.addbtn:hover {
    background-color: black;
    color: white;
}

.aboutbtn {
    color: black;
    transition: 200ms;
}

.aboutbtn:hover {
    background-color: black;
    color: white;
}