.btn {
    padding: .3rem 1.1rem;
    margin: 0rem .2rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
}
.btnCustom {
    padding: .3rem 1.1rem;
    margin: 0rem .2rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
}

.addbtn {
    width: 70%;
    margin: 10px 10px 10px 25px;
    background-color: rgb(232, 241, 241);
    color: black;
    border: 1px solid rgb(212, 208, 208);
    font-weight: 500;
    transition: 200ms;

}


.addbtn:hover {
    background-color: black;
    color: white;
}

.aboutbtn {
    color: black;
    transition: 200ms;
}

.aboutbtn:hover {
    background-color: black;
    color: white;
}

.edit-btn {
    width: 40%;
    background-color: white;
    color: #0275d8;
    border: 1px solid #0275d8;
    font-weight: 500;
    transition: 200ms;
}

.edit-btn:hover{
    text-decoration: underline;
}

.delete-btn{
    width: 40%;
    background-color: white;
    color: #d9534f;
    border: 1px solid #d9534f;
    font-weight: 500;
    transition: 200ms;
}

.delete-btn:hover{
    text-decoration: underline;
}

.checkout-btn {
    width: 70%;
    margin: 10px 10px 10px 25px;
    background-color: green;
    color: white;
    border: 1px solid green;
    font-weight: 500;
    transition: 200ms;
}

.checkout-btn:hover{
    color: white;
    background-color: rgb(37, 100, 37);
    border: #5cb85c 1px solid;
    text-decoration: underline;
}

.continue-btn{
    float: right;
    background-color: #00A145;
    color: white;
    border: 1px solid #00A145;
    cursor: pointer;
    transition: 200ms;
}

.continue-btn:hover{
    background-color: #018038;
    text-decoration: underline;
}

.back-btn {
    background-color: black;
    transition: 200ms;
    color: white;
}

.back-btn:hover{
    background-color: rgb(230, 224, 224);
    color: black;
    text-decoration: underline;
}

.cancel-btn {
    background-color: #d9534f;
    border: 1px solid #d9534f;
    color: white;
    padding: 5px 7px;
    font-size: .8rem;
    transition: 200ms;
}

.cancel-btn:hover {
    background-color: #bb4844;
    text-decoration: underline;
}

.status {
    color: white;
    background-color: #d49235;
    padding: 5px 7px;
    border-radius: 3px;
    font-size: .8rem;
    transition: 200ms;
}

.status:hover{
    background-color: #c2852f;
}

.order-form .addbtn {
    width: 18%;
    margin-left: 7%;
    cursor: pointer;
    background-color: rgb(213, 216, 216);
}

.order-form .addbtn:hover {
    background-color: black;
}

.contactBtn {
    width: 65%;
    margin-top: 1rem;
    background-color: #00A145;
    color: white;
    border: 1px solid #00A145;
    cursor: pointer;
}

.contactBtn:hover{
    background-color: #039241;
}