body {
    padding-top: 7vh;
    font-family: 'Open Sans', sans-serif;
    /* background-color: rgb(227, 235, 235); */
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*===================== below navbar image css ======================*/

.image-wrap { 
    width: 100%;
    position: relative;
}

.image-wrap .home-image {
    width: 100%;
    background-size: cover;
    height: 93vh;
    object-fit: cover;
    filter: brightness(80%);
}

.search-bar {
    text-align: center;
    width: 45%;
    position: absolute;
    left: 27%;
    top: 41%;
}

.search-bar h3{
    color: white;
    font-size: 1.4rem;
    word-spacing: .3rem;
    margin-bottom: .3rem;
}

.search-bar form input {
    width: 90%;
    padding: 10px;
    border: 1px solid grey;
    float: left;
    border-radius: 4px;
}

.search-bar form .search-btn {
    width: 10%;
    padding: 10px;
    border: 1px solid grey;
    border-left: none;
    background-color: #5cb85c;
    border-radius: 4px;
    color: white;
    float: left;
}

.search-bar form .search-btn:hover {
    background-color: #3e9e3e;
}


.food-container{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.food-title {
    font-size: 1.1rem;
    word-spacing: .2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.added-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

.product {
    border: 1px solid rgb(226, 214, 214);
    padding: 3px;
    background-color: #f7f7f7;
    box-shadow: 1px 1px rgb(226, 214, 214);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    width: 100%;
}

.product h3, p{
    margin-top: .3rem;
    font-size: 1.1rem;
    padding-left: .5rem;
}

.product .food-description {
    color: grey;
    font-size: 1rem;
    margin-bottom: .7rem;
}

.product .food-price {
    font-size: 1rem;
    margin-top: auto;
}


.about {
    margin-top: 5rem;
    margin-bottom: 4rem;
    width: 100%;
    position: relative;
}


.about-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    filter: brightness(40%);
}

.about-description {
    width: 65%;
    margin: auto;
    text-align: center;
    color: white;
    position: absolute;
    top: 22%;
    left: 16%;
}

.about-description h1 {
    font-size: 1.8rem;
}

.about-description p {
    font-size: 1.1rem;
    word-spacing: .1rem;
    margin-top: 1rem;
    margin-bottom: .6rem;
}

/* -------------------------- MYBAG DESIGN----------------------------- */

.mybag {
    margin: 3rem 3rem;
    display: flex;
    flex-direction: row;
}

.mybag .mybag-orders h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2rem;
    margin-bottom: 1.9rem;
}

.mybag-orders {
    width: 55%;
    margin-right: 7rem;
}

.mybag-orders table{
    width: 100%;
    border: rgb(218, 208, 208) solid 1px;
    margin-bottom: .7rem;
}
.mybag-orders table tr:nth-child(even) {
    background: rgb(240, 228, 228)
}

.mybag-orders table .table-data:hover{
    font-weight: 400;
    color: green;
}

.mybag-orders a .add-item{
    margin-bottom: 1rem;
    float: right;
    color: green;
    font-size: .95rem;
    font-weight: bold;
}

.mybag-orders a .add-item:hover{
    color: #5cb85c;
    text-decoration: underline;
}


.mybag-bill{
    text-align: center;
    width: 30%;
    height: fit-content;
    border: rgb(224, 218, 218) 1px solid;
    padding: 10px;
    box-shadow: 2px 2px 5px grey;
}

.mybag-bill p{
    font-size: 1rem;
    font-weight: 600;
    color: green;
    text-align: center;
    margin-bottom: .5rem;
}

.mybag-bill table{
    width: 100%;
}

/* ---------------------Checkout form design-------------------------- */
.checkout {
    width: 90%;
    margin: auto ;
    padding-bottom: 20px;
}

.checkout-form {
    width: 60%;
    margin-right: 3rem;
}

.checkout-heading {
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-top: 30px;
    margin-bottom: 15px;
    /* color: rgb(167, 165, 165); */
    color: #9F1D22;
}

.checkout hr {
    border: 1px solid rgb(218, 213, 213);
    margin-bottom: 15px;
}

.checkout-form label, .checkout-form p {
    color: #9F1D22;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .05rem;
}

.checkout-form p {
    margin-bottom: 15px;
}

.checkout-form .input-field {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.checkout-form .radio-text {
    color: black;
    font-weight: 100;
}

.form-bill-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bill{
    height: fit-content;
    width: 27%;
    padding: 1rem;
    margin-left: 5rem;
    border: 1px solid rgb(212, 209, 209);
    box-shadow: 2px 2px 2px grey;
}

.check-orders .title, .check-bill .title {
    font-size: 15px;
    color: green;
    font-weight: 600;
    text-decoration: underline;
}

.check-orders table, .check-bill table{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.check-orders table tr, .check-bill table tr{
    height: 2rem;
    font-size: 15px;

}

.check-orders table tr:hover {
    color: green;
}
.check-orders td i{
    color: red;
}

.check-bill .message {
    font-size: 12px;
    text-align: justify;
    color: rgb(160, 155, 155);
}